@tailwind base;
@tailwind components;
@tailwind utilities;

.Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: transparent;
}

/* @layer base{
  .btn {
    @apply 'inline-flex items-center outline-transparent font-med';
  }
} */
